@using WA.Models;

@model LoginViewModel
<form asp-controller="Account" asp-action="Login">
    <table class="login">
        <tr>
            <td colspan="2">
                <div asp-validation-summary="ModelOnly" class="failureNotification"></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="contentHead">
                    Login data:
                </div>
            </td>
        </tr>
        <tr>
            <td width="120">
                Username:
            </td>
            <td height="45" class="failureNotification">
                <input asp-for="Username" />
                <span asp-validation-for="Username"></span>
            </td>
        </tr>
        <tr>
            <td width="120">
                Passwrod:
            </td>
            <td height="45" class="failureNotification">
                <input asp-for="UserPassword" />
                <span asp-validation-for="UserPassword"></span>
            </td>
        </tr>
        <tr>
            <td width="120"></td>
            <td>
                <input asp-for="RememberLogin" />
                Remember login
            </td>
        </tr>
        <tr>
            <td colspan="2" height="50">
                <input type="submit" value="Login" class="button" />
            </td>
        </tr>
    </table>
</form>

@section Scripts
    {
    @{ Html.RenderPartial("_ValidationScriptsPartial"); }
}


